{
    debug
    # HTTP/3 support
    servers {
        protocol {
            experimental_http3
        }
    }
}


{$HOST} {
	tls /etc/caddy/certs/local-cert.pem /etc/caddy/certs/local-key.pem
	redir https://prelevements.{$HOST}
}

api.{$HOST}  {
	log

	tls /etc/caddy/certs/local-cert.pem /etc/caddy/certs/local-key.pem
	route {
		root * /var/www/public
		encode gzip
		reverse_proxy api:80
		file_server
	}
}

prelevements.{$HOST} {
	log
	@static {
      path_regexp \.(ico|css|js|gif|jpg|jpeg|png|svg|woff)$
    }
    header @static Cache-Control max-age=5184000
	tls /etc/caddy/certs/local-cert.pem /etc/caddy/certs/local-key.pem
	route {
		root * /var/www/public
		encode gzip
		reverse_proxy front:80
		file_server
	}
}
